
*.o

ClientDelegate_qml.cpp

ClientList_qml.cpp

main_qml.cpp

Makefile

*.user

moc_clientlistmodel.cpp

moc_predefs.h

moc_QTelnet.cpp

moc_telnetmanager.cpp

qmlcache_loader.cpp

qrc_qml.cpp

moc_telnetparser.cpp
